# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\proyectosGit\Microservicios con Spring Cloud y Angular 11\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
